body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #020617;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

h2 {
  color: #38bdf8;
}
